.curriculum {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cp1p2p1p2-div,
.cp1-p2 {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.cp1p2p1p2-div:focus,
.cp1-p2:focus,
.cp1p2p1p2-div:active,
.cp1-p2:active {
  outline: none;
}

.curriculum-soon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curriculum-soon-img {
  height: fit-content;
  width: 30vw;
  max-width: 560px;
  opacity: 0.6;
  padding: 40px 0 0;
}

.curriculum-p1 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 40px;
  padding: 40px;
  width: 68%;
  max-width: 900px;
  border-radius: 12px;
  border: #dfdfdfbd solid 0.6px;
  box-shadow: #dfdfdfe1 0px 0px 24px;
}

.cp1-p1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cp1p1-p1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cp1p1-p1 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.cp1p1-p1 img {
  height: 12px;
  width: 12px;
  transition: transform 0.3s ease;
}

.cp1p1-p2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cp1p1-p2 img {
  height: 16px;
  width: 16px;
}

.cp1p1p2-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.cp1p1p2-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cp1p1p2-div2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.cp1-p2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cp1p2-p1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.cp1p2p1-p1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  background-color: #f5f5f5;
  border: #f4f4f4 solid 0.4px;
  border-radius: 12px;
}

.cp1p2p1p1-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cp1p2p1p1-div img {
  height: 16px;
  width: 16px;
  transition: transform 0.4s ease;
}

.cp1p2p1p1-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cp1p2p1p1-div2 img {
  height: 16px;
  width: 16px;
}

.cp1p2p1p1-div2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.divcp1p2p1p1-div img {
  height: 16px;
  width: 16px;
}

.cp1p2p1-p2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px;
  border-radius: 12px;
  animation: slideDowncp1p2p1-p2 0.4s linear;
  position: relative;
}

@keyframes slideDowncp1p2p1-p2 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cp1p2p1p2-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #afafaf;
}

.cp1p2p1p2-div img {
  height: 16px;
  width: 16px;
  object-fit: cover;
}

.cp1p2p1p2-div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cp1p2p1p2-div div p:last-child {
}

.curriculum-p2 {
  display: flex;
  flex-direction: column;
  padding: 36px;
  gap: 32px;
  width: 260px;
  height: fit-content;
  border-radius: 12px;
  border: #dfdfdfbd solid 0.6px;
  box-shadow: #dfdfdfe1 0px 0px 24px;
}

.cp2-p1-poster {
  border-radius: 12px;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.cp2-p1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.cp2p1-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cp2p1-div div {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.cp2p1-div div img {
  height: 24px;
  width: 24px;
}

@media (min-width: 1200px) {
}

@media (max-width: 1200px) and (min-width: 900px) {
  .curriculum {
    gap: 8px;
  }
  .curriculum-p1 {
    gap: 40px;
    padding: 32px;
    width: 64%;
  }
  .cp1-p1 {
    gap: 24px;
  }
  .cp1p1-p1 img {
    height: 16px;
    width: 16px;
  }
  .cp1p1-p2 img {
    height: 16px;
    width: 16px;
  }
  .cp1p1p2-div {
    gap: 4px;
  }
  .cp1p1p2-div2 {
    gap: 16px;
  }
  .cp1p1p2-div2 div {
    gap: 4px;
  }
  .cp1-p2 {
    gap: 24px;
  }
  .cp1p2-p1 {
    gap: 8px;
  }
  .cp1p2p1-p1 {
    padding: 24px 32px;
    border-radius: 12px;
  }
  .cp1p2p1p1-div {
    gap: 16px;
  }
  .cp1p2p1p1-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p1-div2 {
    gap: 16px;
  }
  .cp1p2p1p1-div2 img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p1-div2 div {
    gap: 4px;
  }
  .divcp1p2p1p1-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1-p2 {
    gap: 16px;
    padding: 24px 32px;
    border-radius: 12px;
  }
  .cp1p2p1p2-div {
    gap: 24px;
  }
  .cp1p2p1p2-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p2-div div {
    gap: 12px;
  }
  .curriculum-p2 {
    padding: 28px;
    gap: 24px;
    width: 220px;
  }
  .cp2-p1-poster {
    border-radius: 12px;
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .cp2-p1 {
    gap: 16px;
  }
  .cp2p1-div {
    gap: 8px;
  }
  .cp2p1-div div {
    gap: 12px;
  }
  .cp2p1-div div img {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .curriculum {
    gap: 40px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .curriculum-p1 {
    gap: 40px;
    padding: 32px;
    width: 100%;
  }
  .cp1-p1 {
    gap: 16px;
  }
  .cp1p1-p1 img {
    height: 12px;
    width: 12px;
  }
  .cp1p1-p2 img {
    height: 16px;
    width: 16px;
  }
  .cp1p1p2-div {
    gap: 4px;
  }
  .cp1p1p2-div2 {
    gap: 16px;
  }
  .cp1p1p2-div2 div {
    gap: 4px;
  }
  .cp1-p2 {
    gap: 16px;
  }
  .cp1p2-p1 {
    gap: 0px;
  }
  .cp1p2p1-p1 {
    padding: 24px 32px;
    border-radius: 12px;
  }
  .cp1p2p1p1-div {
    gap: 16px;
  }
  .cp1p2p1p1-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p1-div2 {
    gap: 16px;
  }
  .cp1p2p1p1-div2 img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p1-div2 div {
    gap: 4px;
  }
  .divcp1p2p1p1-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1-p2 {
    gap: 16px;
    padding: 24px 32px;
    border-radius: 12px;
  }
  .cp1p2p1p2-div {
    gap: 24px;
  }
  .cp1p2p1p2-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p2-div div {
    gap: 12px;
  }
  .curriculum-p2 {
    padding: 24px;
    gap: 16px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .cp2-p1-poster {
    border-radius: 12px;
    width: 50%;
    height: 200px;
    object-fit: cover;
  }
  .cp2-p1 {
    gap: 16px;
  }
  .cp2p1-div {
    gap: 8px;
  }
  .cp2p1-div div {
    gap: 12px;
  }
  .cp2p1-div div img {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 600px) {
  .curriculum {
    gap: 32px;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 20px;
  }
  .curriculum-soon-img {
    width: 72%;
    padding: 40px 0 0;
  }
  .curriculum-p1 {
    gap: 24px;
    padding: 24px 12px;
    width: 100%;
  }
  .cp1-p1 {
    gap: 16px;
  }
  .cp1p1-p1 img {
    height: 12px;
    width: 12px;
  }
  .cp1p1-p2 img {
    height: 16px;
    width: 16px;
  }
  .cp1p1p2-div {
    gap: 4px;
  }
  .cp1p1p2-div2 {
    gap: 16px;
  }
  .cp1p1p2-div2 div {
    gap: 8px;
  }
  .cp1p1p2-div2 div:first-child {
    display: none;
  }
  .cp1-p2 {
    gap: 16px;
  }
  .cp1p2-p1 {
    gap: 8px;
  }
  .cp1p2p1-p1 {
    padding: 12px 12px;
    border-radius: 8px;
  }
  .cp1p2p1p1-div {
    gap: 4px;
  }
  .cp1p2p1p1-div img {
    height: 12px;
    width: 12px;
  }
  .cp1p2p1p1-div2 {
    gap: 8px;
  }
  .cp1p2p1p1-div2 img {
    height: 12px;
    width: 12px;
  }
  .cp1p2p1p1-div2 div {
    gap: 4px;
  }
  .cp1p2p1p1-div2 div:last-child {
    display: none;
  }
  .divcp1p2p1p1-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1-p2 {
    gap: 20px;
    padding: 16px 4px;
    border-radius: 4px;
  }
  .cp1p2p1p2-div {
    gap: 16px;
  }
  .cp1p2p1p2-div img {
    height: 16px;
    width: 16px;
  }
  .cp1p2p1p2-div div {
    gap: 8px;
  }
  .curriculum-p2 {
    padding: 20px;
    gap: 24px;
  }
  .cp2-p1-poster {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .cp2-p1 {
    gap: 16px;
  }
  .cp2p1-div {
    gap: 8px;
  }
  .cp2p1-div div {
    gap: 12px;
  }
  .cp2p1-div div img {
    height: 16px;
    width: 16px;
  }
}
