.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 26%;
  padding: 28px;
  border: #d9d9d9 solid 0.6px;
  border-radius: 8px;
  box-shadow: 0 2px 16px #d9d9d95a;
  height: fit-content;
  gap: 16px;
  transform: scale(1);
  cursor: pointer;
}

.testimonial-card:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 24px #d9d9d9bb;
  transition: transform 0.4s;
  transform: scale(1.04);
}

.testimonial-card-p1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.testimonial-card-p1 img {
  height: 64px;
  width: 64px;
}

.tcp1-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.testimonial-card-p2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.testimonial-card-p2 img {
  height: 16px;
  width: 16px;
}

@media (min-width: 1200px) {
}

@media (max-width: 1200px) and (min-width: 900px) {
  .testimonial-card {
    width: 26%;
    padding: 24px;
  }
  .testimonial-card-p1 {
    gap: 8px;
  }
  .testimonial-card-p1 img {
    height: 64px;
    width: 64px;
  }
  .tcp1-div {
    gap: 4px;
  }
  .testimonial-card-p2 {
    gap: 2px;
  }
  .testimonial-card-p2 img {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .testimonial-card {
    width: 38%;
    padding: 20px;
  }
  .testimonial-card-p1 {
    gap: 8px;
  }
  .testimonial-card-p1 img {
    height: 56px;
    width: 56px;
  }
  .tcp1-div {
    gap: 4px;
  }
  .testimonial-card-p2 {
    gap: 2px;
  }
  .testimonial-card-p2 img {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 600px) {
  .testimonial-card {
    width: 100%;
    padding: 20px;
  }
  .testimonial-card-p1 {
    gap: 8px;
  }
  .testimonial-card-p1 img {
    height: 56px;
    width: 56px;
  }
  .tcp1-div {
    gap: 4px;
  }
  .testimonial-card-p2 {
    gap: 2px;
  }
  .testimonial-card-p2 img {
    height: 16px;
    width: 16px;
  }
}
