.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 72px 128px;
}

.faqs-p1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.faqs-p2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    cursor: pointer;
} 

.faqs-qa-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 780px;
}

.faqs-qa-div-p1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    border: #d4d4d444 solid 0.6px;
    box-shadow: 0 2px 16px #e1e1e176;
    background-color: #F2F2F2;
}

.faqs-qa-div-p1 p {
    font-weight: 500;
}

.faqs-qa-div-p1 img {
    height: 16px;
    width: 16px;
}

.faqs-qa-div-p2 {
    padding: 24px;
    border-radius: 8px;
    background-color: #F9F9F9;
    border: #d6d6d670 solid 0.6px;
    box-shadow: 0 2px 16px #e1e1e176;
}